<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>eureka</title>

        <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">eureka</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid eureka-content">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
